{% extends 'main/layout.html' %}
{% load static %}

{%block title%}
Резюме
{%endblock%}
{%block content%}
<div class="resume">
    <img src="{% static 'main/img/photo_resume.jpg' %}" style='width:250px;height:250px;' align="center" alt="photo">
    <h4>Маслихин Артём Вадимович</h4>
    <h6>Мужчина, 20 лет, 18.06.2004</h6> +7(925)-453-18-06 <h6> maslikhin.artem@bk.ru<br> </h6> Проживает: г. Москва
    Гражданство: РФ <br>
    Занятость: полная занятность, частичная занятость.<br>
    График работы: полный день, гибкий график.<br> Образование:<br>
    Незаконченное среднее-профессионально образование. <br>
    Обучаюсь в данный момент в Колледже связи N54 им. П. М. Вострухина по специальности: Обеспечение информационной безопасности телекоммуникационных систем. <br> Оформлен индивидуальный график, поэтому могу работать полный день. <br>
    Опыт работы:<ol>
    <li> Преподаватель программирования Школы «Pixel» c 31 ноября 2023г.</li>
    <li> Старший преподаватель Школы «Pixel» с 15 февраля 2024г.</li>
    <li> Территориальный менеджер Школы “Pixel” c 30 мая 2024г. по 30 сентября 2024г.</li>
    </ol>
    Навыки:
    <ul>
        <li> коммерческий опыт работы с CMS 1С-Битрикс;</li>
        <li> парсинг на различных языках программирования;</li>
        <li> Умение писать сайты на <i class="fa-brands fa-react" style="color: rgb(0, 191, 255);"></i>React;</li>
        <li> знание ООП;</li>
        <li> знание <i class="fa-solid fa-database"></i> SQL и умение работать с СУБД;</li>
        <li> знание схемы разделения данных MVC;</li>
        <li> знание <i class="fa-brands fa-laravel" style="color:rgb(220, 20, 60);"></i> laravel;</li>
        <li> коммерческий опыт разработки <i class="fa-brands fa-telegram" style="color:rgb(0, 191, 255)"></i> telegram-ботов;</li>
        <li> умение работать с UNIX системами;</li>
        <li> знание <i class="fa-brands fa-python"></i> Django;</li>
    </ul>
    <h6>О себе: Считаю себя жизнерадостным и разносторонним человеком.<br> Целеустремлен в работе; постоянно повышаю умственные навыки в соответствии с современными технологиями.<br> Люблю и умею учиться новому. Конфликтные и стрессовые ситуации устраняю как можно скорее. Был опыт работы в коллективе/опыт руководителя. В настоящее время активно изучаю различные технологии.</h6>
    </div>
{%endblock%}