

body{
    background: #2c2c2c;
    margin: 0;
    padding: 0px;
}

aside {
    float: left;
    background: #181818;
    width: 5%;
    height: 100vw;
    color: #fff;
    border-right: 5px solid #9400D3;
    min-width: 70px;
    min-height: 100%;
    position: fixed;
}

aside img {
    width: 50px;
    margin-left: 5%;
    margin-top: 25%;
}

aside ul {list-style: none}

aside ul li{
    color: #fff;
    display: block;
    margin-top:70%;
    margin-left: -1vw;
    position: relative;
    transition: transform .6s ease
}

aside ul li:hover, aside ul a {
    color: rgb(186, 85, 211);
    text-decoration: none;
    transform: scale(1.4)
}

aside ul li{
    font-size: 20px;
}

aside ul p{
    font-size: 10px;
    margin-left: 0vw;
}

.resume{
    color: white;
    padding: 3%;
    padding-left: 13%;
    font-family: @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Sixtyfour+Convergence&family=Space+Grotesk:wght@300..700&display=swap');
}

.resume img{
    float: right;
}

.form {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 13%;
    color: #9400D3;
}
